<div id="footer-desktop" class="row">
    <div style="min-height:205px;" class="col-sm-6 col-md-3">
        <ul>
            {{#each helpers.footer-col-1}}
                <li>
                    <a href="{{link}}">{{title}}</a>
                </li>
            {{/each}}
        </ul>
    </div>

    <div style="min-height:205px;" class="col-sm-6 col-md-3">
        <ul>
            {{#each helpers.footer-col-2}}
                <li>
                    <a href="{{link}}">{{title}}</a>
                </li>
            {{/each}}
        </ul>
    </div>

    <div style="min-height:205px;" class="col-sm-6 col-md-3">
        <ul>
            {{#each helpers.footer-col-3}}
                <li>
                    <a href="{{link}}">{{title}}</a>
                </li>
            {{/each}}
        </ul>
    </div>
    <div style="min-height:205px;" class="col-sm-6 col-md-3">
        <ul>
            {{#each helpers.footer-col-4}}
                <li>
                    <a href="{{link}}">{{title}}</a>
                </li>
            {{/each}}
        </ul>
    </div>
</div>